#header{
    position: relative;
}
.main_header{
    position: relative;
}
.header_First_section{
    width: 100%;
    height: 3em;
    background-color: #f4f4f4;
    border-bottom: 1px solid #E7E7E8;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header_link{
    font-size: 16px;
    color: #414143;
    font-weight: 550;
    line-height: 1.5px;
    word-spacing: 1px;
    margin: 0px 12px;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
}
@media only screen and (max-width: 430px) {
    #header_link{
        font-size: 12px;
        word-spacing: 0px;
        font-weight: 550;
        margin: 0px 8px;
    } 
    #host_box{
        display: none;
    }
}
#header_link:hover{
    opacity: 0.7;
}
.header_second_section{
    width: 100%;
    height: 4em;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    margin: 0em 1em;
}
#other_items{
    display: flex;
    align-items: center;
}
#host_box{
    width: fit-content;
    height: 2.1em;
    border: 1.5px solid #414143;
    font-size: 14px;
    margin: 0px 12px;
    padding: 2px 6px;
    text-decoration: none;
    color: #414143;
    background-color: #fff;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
}
#host_box:hover,#icon:hover{
    background-color: #E7E7E8;
    transition: all 0.7s;
}
#icon {
    margin: 0px 12px;
    width: 4.3em;
    height: 2.5em;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    cursor: pointer;
}
#banner{
    width: 100%;
    height: 25em;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(//resources.turo.com/f/81934/1500x400/1b78692b7b/hp_ny_1500x400_2.jpg);
    background-position-y: center;
    background-position-x: calc(100% - 40%);
} 