*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main_heading{
    display: flex;
    justify-content: center;
    margin: 30px 12px 16px;
}
#heading{
    font-size: 5em;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    letter-spacing: 2px;
    color: #121214;
}
#small_heading_div{
    display: flex;
    justify-content: center;
}
#small_heading{
    font-size: 28px;
    color: #121214;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    word-spacing: 1px;
    letter-spacing: 0.7px;
    margin: 4px 12px 36px;
    line-height: 24px;
}
@media only screen and (max-width: 760px) {
    #small_heading{
        font-size: 22px;
    }
}
@media only screen and (max-width: 650px){
    #small_heading{
        font-size: 18px;
    }
    #heading{
        font-size: 4em;
    }
}
@media only screen and (max-width: 510px){
    #small_heading{
        font-size: 14px;
        font-weight: 600;
    }
    #heading{
        font-size: 3em;
        font-weight: 700;
    }
}