*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main_slider{
    margin: 0px 0px 6em 0px;
    display: flex;
    justify-content: center;
}
.slider {
    padding: 8px;
    width: 64em;
}
@media only screen and (max-width: 1080px){
    .slider{
        width: 90%; 
    }
}
.slick-prev:before,
.slick-next:before {
 color: #414141 !important;
}
.slick-prev:before{
    position: relative;
    z-index: 10;
    margin-left: 8px;
    right: 4px;
    
}
.slick-next:before{
    margin-right: 6px;
}
.slider_box {
    margin: 0px 8px 8px 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.slider_image {
    width: 190px;
    height: 206px;
    box-shadow: 0 2px 4px 0 rgb(35 31 32 / 20%), 0 0 1px 0 rgb(35 31 32 / 10%);    
    border-radius: 6px;
}
@media only screen and (max-width: 649px){
    .slider_image{
        width: 210px;
    }
}
@media only screen and (max-width: 479px){
    .slider_image{
        width: 280px;
    }
}
.slider_image:hover{
    box-shadow: 0 2px 8px 0 rgb(35 31 32 / 30%), 0 0 1px 0 rgb(35 31 32 / 15%);      
} 
.slider_text:hover{
    color: #593bfc;
}
.slider_image > img {
    width: 100%;
    height: 152px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.slider_text{
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    color: #231F20;
    text-align: center;
    margin: 16px 0px 16px 0px;
}
#slider_heading{
    margin-bottom: 1em;

}
   /*    WORKING FOR SECOND SLIDER */

.main_slider2{
    display: flex;
    justify-content: center;
}
.slider2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 64em;
}
.mySwiper{
    width: 66em;
}
.slider_image2{
    width: 28em;
    cursor: pointer;
}
.slider_caption{
    width: 28em;
}
@media only screen and (max-width: 1060px) {
    .slider_caption{
        width: 95%;
        text-align: center;
    }
    .mySwiper{
        width: 95%;
    }
}
.slider_heading2{
    color: #231F20;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    line-height: 36px;
}
.slider_heading2 span{
    color: #593cfb;
}
.slider_text2{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
@media only screen and (max-width:500px) {
    .slider_image2 img{
        width: 19em;
        margin: 0px auto;
    }
    .slider_caption{
        width: 19em;
        margin: 6px;
    }
    .slider_heading2{
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
    }
}
.swiper-button-next,.swiper-button-prev{
    color: #000!important;
}
.swiper-button-next{
    margin-left: 1em;
}
.slider_btn{
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 550;
    border: none;
    background-color: #593cfb;
    color: #fff;
    word-spacing: 5px;
    letter-spacing: 1px;
    transition: all 0.7s;
}
.slider_btn:hover{
    background-color: #1900a4;
}



/*        WORKING       FOR      THIRD      SLIDER */




.main_slider3{
    display: flex;
    justify-content: center;
}
.slider3{
    width: 64em;
    height: 12em;
    margin-bottom: 5em;
}
@media only screen and (max-width: 1080px){
    .slider3{
        width: 90%;
    }  
}
.slider_box2{
    height: 12em;
    padding: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;   
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.slider_box2:hover{
    box-shadow: 0 2px 8px 2px rgb(35 31 32 / 30%), 0 0 1px 0 rgb(35 31 32 / 20%);      

}
.slider_image3{
    display: flex;
    justify-content: center;
    position: relative;
}
.slider_box2 img {
    width: 120px;
    height: 120px;
}
@media only screen and (max-width: 350px) {
    .slider_box2 img{
        width: 150px;
        height: 150px;
    }
    .slider_box2{
        height: 14em;
        width: 15em;
    }
    .slider3{
        margin-left: 0em;
        width: 80%;
    }
}

.image2{
    position: absolute;
    opacity: 0;
}
.image2:hover{
    opacity: 1;
    z-index: 10;
}


/*                           WORKING FOR FOURTH SLIDER                   */
.main_slider4{
    display: flex;
    justify-content: center;
}
.slider4{
    width: 64em;
    height: 25em;
}
.slider_box4{
    width: 22em;
    height: 18em;
    background-color: #414141;
}
.slider_bootom{
    display: flex;
    align-items: center;
}
.slider_heading4{
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 790;
    color: #121214;
}
.slider_image4{
    width: 20em;
    height: 17em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://resources.turo.com/f/81934/656x524/9c3e676cae/image_experience_electric-2x.jpg);
    border-radius: 6px;
}
.font {
    color: #121214;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
}
@media screen and (max-width:1100px) {
    .slider4{
        width: 90%;
    }
    .slider_image4{
        width: 18em;
    }
}